{% extends 'base.html' %}
{% block content %}

{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/style.css">#}
{#    <title>Expenses Tracker</title>#}
{#</head>#}
{##}
{#<body>#}
{#<!-- Navigation Bar -->#}
{#<nav>#}
{#    <ul>#}
{#        <li class="img"><img src="/static/images/dollar.png" alt="dollar"></li>#}
{#        <li><a href="#">Expenses Tracker</a></li>#}
{#        <li class="right"><a href="#">Profile</a></li>#}
{#    </ul>#}
{#</nav>#}
<!-- End Navigation Bar -->

<div class="body">
    <h1>Create Expense</h1>
    <!-- Create Expense Form -->
    <div class="form">
        <form method="POST" action="{% url 'create expense' %}">

            {{ form }}
            {% csrf_token %}

{#            <label for="title">Title:</label>#}
{#            <input type="text" name="title" maxlength="30" id="title" required>#}
{##}
{#            <label for="description">Description:</label>#}
{#            <textarea name="description" cols="40" rows="10" id="description"></textarea>#}
{##}
{#            <label for="imageUrl">Link to Image:</label>#}
{#            <input type="url" name="image_url" required id="imageUrl">#}
{##}
{#            <label for="price">Price:</label>#}
{#            <input type="number" name="price" step="any" required id="price">#}
            <!-- Create Button -->
            <input type="submit" value="Create">
        </form>
    </div>
    <!-- End Create Expense Form -->
</div>

{#<footer>#}
{#    <div>Python Web Basics Exam Preparation @SoftUni</div>#}
{#</footer>#}
{##}
{##}
{#</body>#}
{#</html>#}

{% endblock %}