{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Catalog with Albums-->
<section id="catalogPage">

    <!--  If No albums in catalog -->
    {% if not albums %}

    <p>No Albums in Catalog!</p>

    {% else %}

    <!-- If albums in catalog -->
    <h1>All Albums</h1>
    <!-- First Card-Box in catalog -->

        {% for album in albums %}

    <div class="card-box">
        <img src="{{ album.image_url }}" alt="Cover Image">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.album_name }}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: ${{ album.price }}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'details album' album.pk %}">Details</a>
            </div>


        {% endfor %}

        </div>
    </div>

    {% endif %}

{#    <!-- End First Card-Box in catalog -->#}
{##}
{#    <!-- Second Card-Box in catalog -->#}
{#    <div class="card-box">#}
{#        <img src="{% static 'images/pinkFloyd.jpg' %}">#}
{#        <div>#}
{#            <div class="text-center">#}
{#                <p class="name">Name: The Dark Side of the Moon</p>#}
{#                <p class="artist">Artist: Pink Floyd</p>#}
{#                <p class="genre">Genre: Rock Music</p>#}
{#                <p class="price">Price: $28.75</p>#}
{#            </div>#}
{#            <div class="btn-group">#}
{#                <a href="#">Details</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- End Second Card-Box in catalog -->#}
{##}
{#    <!-- Third Card-Box in catalog -->#}
{#    <div class="card-box">#}
{#        <img src="{% static 'images/Lorde.jpg' %}">#}
{#        <div>#}
{#            <div class="text-center">#}
{#                <p class="name">Name: Melodrama</p>#}
{#                <p class="artist">Artist: Lorde</p>#}
{#                <p class="genre">Genre: Pop Music</p>#}
{#                <p class="price">Price: $7.33</p>#}
{#            </div>#}
{#            <div class="btn-group">#}
{#                <a href="#">Details</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- End Third Card-Box in catalog -->

</section>

{% endblock %}
