{% extends 'base.html' %}
{% block content %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="/static/style/style.css">#}
{#    <title>CarCollection</title>#}
{#</head>#}
{##}
{#<body>#}
{#<div id="box">#}
{##}
{#    <header>#}
{#        <!-- Navigation Bar -->#}
{#        <h1><a class="index-navigation" href="#"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>#}
{#        <nav>#}
{#            <a href="#">Catalogue</a>#}
{#            <a href="#">Create Car</a>#}
{#            <a href="#">Profile</a>#}
{#        </nav>#}
{#    </header>#}


    <section id="create-page" class="auth">
        <!-- create car form -->
        <form id="create" method="post" action="{% url 'create car' %}">
            <div class="container">
                <h1 class="form-create-headline">Create Car</h1>

                {{ form }}
                {% csrf_token %}

{#                <label for="type">Type:</label>#}
{#                <select name="type" required="" id="type">#}
{#                    <option value="" selected="">---------</option>#}
{#                    <option value="Sport Car">Sport Car</option>#}
{#                    <option value="Pickup">Pickup</option>#}
{#                    <option value="Crossover">Crossover</option>#}
{#                    <option value="Minibus">Minibus</option>#}
{#                    <option value="Other">Other</option>#}
{#                </select>#}
{#                <label for="model">Model:</label>#}
{#                <input type="text" name="model" maxlength="20" required="" id="model">#}
{##}
{#                <label for="year">Year:</label>#}
{#                <input type="number" name="year" required="" id="year">#}
{##}
{#                <label for="image_url">Image URL:</label>#}
{#                <input type="url" name="image_url" maxlength="200" required="" id="image_url">#}
{##}
{#                <label for="price">Price:</label>#}
{#                <input type="number" name="price" step="any" required="" id="price">#}


                <input class="btn" type="submit" value="Create Car">
            </div>
        </form>
    </section>

{#</div>#}
{#<!-- Footer -->#}
{#<footer>#}
{#    &copy;SoftUni Team 2022. All rights reserved.#}
{#</footer>#}
{#<!-- End Footer -->#}
{##}
{#</body>#}
{#</html>#}

{% endblock %}