{% extends 'base.html' %}
{% block content %}

{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/style.css">#}
{#    <title>Expenses Tracker</title>#}
{#</head>#}
{##}
{#<body>#}
{##}
{#<!-- Navigation Bar -->#}
{#<nav>#}
{#    <ul>#}
{#        <li class="img"><img src="/static/images/dollar.png" alt="dollar"></li>#}
{#        <li><a href="#">Expenses Tracker</a></li>#}
{#        <li class="right"><a href="#">Profile</a></li>#}
{#    </ul>#}
{#</nav>#}
<!-- End Navigation Bar -->

<div class="body">
    <!-- Delete Profile Form -->
    <h1>Are you sure you want to delete your profile?</h1>
    <form method="POST" action="{% url 'delete profile' %}">

        {% csrf_token %}

        <!-- Confirm Button -->
        <button class="button delete-lg">Confirm</button>
    </form>
    <!-- End Delete Profile Form -->
</div>

{#<footer>#}
{#    <div>Python Web Basics Exam Preparation @SoftUni</div>#}
{#</footer>#}
{##}
{#</body>#}
{#</html>#}

{% endblock %}